# SPDX-License-Identifier: MIT

aiohttp==3.9.1
aiosignal==1.3.1
attrs==23.1.0
click==8.1.7
frozenlist==1.4.0
idna==3.6
multidict==6.0.4
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.11.2
Pillow==10.1.0
platformdirs==4.1.0

# Development dependencies
# [Note: Some of these might be unnecesary on certain development environments like Visual Studio Code
#        due to the way the configurations have been set up. The extensions already ship with the
#        packages required.]

black
ruff
setuptools

